{
    "extends": "airbnb",
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "requireConfigFile": false
    },
    "parser": "@babel/eslint-parser",
    "rules": {
        "linebreak-style": 0
    }
  }